.container
  =image_tag('DP-Text.png')
  %h1 ¿Te gustaría...
  %p.lead ... ir a un lugar que no sabías que existe pero que te encantaría conocer?
  %form.form-inline{role: "form"}
    .form-group
      %input#exampleInputEmail2.form-input{placeholder: "Dejanos tu email y te contamos", type: "email"}/
    %button#si.btn.btn-primary.inline{type: "submit"} Sí, me gustaría