.container
.jumbotron
  %h1 ¿Te gustaría...
  %p.lead ... ir a un lugar que no sabías que existe pero que te encantaría?
  %p
    %a.btn.btn-lg.btn-success{href: "#", role: "button"} Si me gustaría
  %p
    %button.btn.btn-sm.btn-default{type: "button"} No, pero gracias
